table.form tr td{ font-size: 90%; /*color:red;*/}
table.form {width: 100%}



.form
{
	/*clear:both;
	display:block;*/
}

.form .form-row
{
	padding:12px 24px;
}

.form .button-row.left
{
	text-align:left;
}

.form .button-row
{
	padding:16px 24px;
	border-top:1px solid #bcbcbc;
	text-align:right;
	background:url(../../images/core/inset.png);
}

.form .form-item
{
	min-height:34px;
	height:34px;
	height:auto !important
}

.form ul.form-list, 
.form ul.form-list li
{
	margin:0;
	list-style:none;
}

.form fieldset
{
	margin:0;
	/*border-top:1px dotted #bcbcbc;*/
        
        border:1px solid #bcbcbc;
}

.form fieldset legend
{
	margin-left:24px;
	padding:0 4px;
        font-weight: bold;
	/*border:1px dotted #bcbcbc;*/
}

.form .form-inline label
{
	padding-top:7px;
}

.form label
{
	padding-bottom:7px;
	cursor:pointer;
}

.form label span.required
{
	color:#FF0000;
}

/* Input Styles */

.form .form-item select, 
.form .form-item textarea, 
.form .form-item .textinput, 
.form .form-item .customfile, 
.form .form-item .ui-spinner, 
.form .form-item.large select, 
.form .form-item.large textarea, 
.form .form-item.large .textinput, 
.form .form-item.large .customfile, 
.form .form-item.large .ui-spinner
{
	width:100%;
}

.form .form-item.medium select, 
.form .form-item.medium textarea, 
.form .form-item.medium .textinput, 
.form .form-item.medium .customfile, 
.form .form-item.medium .ui-spinner
{
	width:75%;
}

.form .form-item.small select, 
.form .form-item.small textarea, 
.form .form-item.small .textinput, 
.form .form-item.small .customfile, 
.form .form-item.small .ui-spinner
{
	width:55%;
}
/*
.form select, 
.form textarea, 
.form .textinput
{
	border:1px solid #c5c5c5;
	padding:6px 7px;
	color:#323232;
	margin:0;
	
	background-color:#ffffff;
	outline:none;
*/	
	/* CSS 3 */
/*	
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	
	-moz-box-shadow:inset 0px 1px 3px rgba(128, 128, 128, 0.1);
	-o-box-shadow:inset 0px 1px 3px rgba(128, 128, 128, 0.1);	
	-webkit-box-shadow:inset 0px 1px 3px rgba(128, 128, 128, 0.1);
	-khtml-box-shadow:inset 0px 1px 3px rgba(128, 128, 128, 0.1);
	box-shadow:inset 0px 1px 3px rgba(128, 128, 128, 0.1);
}*/

.form select:disabled, 
.form textarea:disabled, 
.form .textinput:disabled
{
	background:#f0f0f0;
}

.form select.error, 
.form textarea.error, 
.form .textinput.error
{
	border-color:#eb979b;
}

/* Form Columns */

.form-cols
{
	padding:0 24px;
}

.form-item .form-cols
{
	padding:0;
}

.form-item .form-cols .form-col-1-8, 
.form-item .form-cols .form-col-2-8, 
.form-item .form-cols .form-col-3-8, 
.form-item .form-cols .form-col-4-8, 
.form-item .form-cols .form-col-5-8, 
.form-item .form-cols .form-col-6-8, 
.form-item .form-cols .form-col-7-8, 
.form-item .form-cols .form-col-8-8
{
	padding-top:0;
	padding-bottom:0;
}

.form-col-1-8, 
.form-col-2-8, 
.form-col-3-8, 
.form-col-4-8, 
.form-col-5-8, 
.form-col-6-8, 
.form-col-7-8, 
.form-col-8-8
{
	float:left;
	padding:12px 6px;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
}

.form-col-1-8 label, .form-col-1-8 .form-item, 
.form-col-2-8 label, .form-col-2-8 .form-item, 
.form-col-3-8 label, .form-col-3-8 .form-item, 
.form-col-4-8 label, .form-col-4-8 .form-item, 
.form-col-5-8 label, .form-col-5-8 .form-item, 
.form-col-6-8 label, .form-col-6-8 .form-item, 
.form-col-7-8 label, .form-col-7-8 .form-item, 
.form-col-8-8 label, .form-col-8-8 .form-item
{
	display:block !important;
	width:100% !important;
	margin:0 !important;
	float:none !important;
}

.form-col-1-8 label, 
.form-col-2-8 label, 
.form-col-3-8 label, 
.form-col-4-8 label, 
.form-col-5-8 label, 
.form-col-6-8 label, 
.form-col-7-8 label, 
.form-col-8-8 label
{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.form-cols .alpha
{
	padding-left:0;
}

.form-cols .omega
{
	padding-right:0;
}

.form-col-1-8
{
	width:12.5%;
}

.form-col-2-8
{
	width:25%;
}

.form-col-3-8
{
	width:37.5%;
}

.form-col-4-8
{
	width:50%;
}

.form-col-5-8
{
	width:62.5%;
}

.form-col-6-8
{
	width:75%;
}

.form-col-7-8
{
	width:87.5%;
}

.form-col-8-8
{
	width:100%;
}


/* Placeholder Text */

.form .placeholder
{
  color: #aaa;
}

/* Inline Form Elements */

.form .form-inline .form-item
{
	margin-left:136px;
}

.form .form-inline label
{
	width:120px;
	display:inline-block;
	float:left;
	margin-right:16px;
}

/* Block Form Elements */

.form .form-block label, 
.form .form-block .form-item
{
	display:block;
	width:100%;
	margin:0;
	float:none;
}

/* Form List */

.form .form-inline ul.form-list
{
	float:left;
	width:68%;
	margin-top:4px;
}

.form .form-inline .form-item ul.form-list
{
	width:100%;
}

.form ul.form-list, 
.form .form-block ul.form-list
{
	display:block;
	width:100%;
}

.form ul.form-list.inline li
{
	float:left;
	margin-right:10px;
}

.form ul.form-list li label
{
	width:auto;
	float:none;
	margin:0;
	padding:0;
	display:inline !important;
	vertical-align:middle;
}

.form ul.form-list li input
{
	vertical-align:middle;
}

/* Textarea */

.form textarea
{
    font-size: 12px;
	/*height:10em;
	resize:none;*/
}/**/

/* Form Clearfix */

.form .form-row:before,
.form .form-row:after
{
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}

.form .form-row:after
{
	clear: both;
}

.form .form-row
{
	zoom: 1;
}

/* Messages */

.form-message
{	
	font-size:12px;
	cursor:pointer;
	border-bottom:1px solid #d2d2d2;
	padding:10px 8px 10px 45px;
	position:relative;
	vertical-align:middle;
	
	background-color:#f8f8f8;
	background-position:12px 12px;
	background-repeat:no-repeat;
}

.form-message p, 
.form-message ul, 
.form-message ol
{
	margin:0;
}

.form-message ul li, 
.form-message ol li
{
	list-style-position:inside;
	list-style-type:inherit;
	margin:0;
}

.form-message.error
{
	background-color:#ffcbca;
	background-image:url(../../images/core/message-error.png);
	border-color:#eb979b;
	color:#9b4449;
}

.form-message.success
{
	background-color:#e1f1c0;
	/*background-image:url(../../images/core/message-success.png);*/
        background-image:url(../../../../images/basic_set_png/tick_16.png);
        
	border-color:#b5d56d;
	color:#62a426;
}

.form-message.warning
{
	background-color:#fef0b1;
	/*background-image:url(../../images/core/message-warning.png);*/
        background-image:url(../../../../images/basic_set_png/warning_16.png);
        
	border-color:#ddca76;
	color:#a98b15;
}

.form-message.info
{
	background-color:#bce5f7;
	background-image:url(../../images/core/message-info.png);
	border-color:#a6d3e8;
	color:#11689E;
}

.form .form-item.large .error, 
.form .form-item.large label.error, 
.form .form-item.large span.error, 
.form .form-item.large div.error
{
	width:100%;
}

.form .form-item.medium .error, 
.form .form-item.medium label.error, 
.form .form-item.medium span.error, 
.form .form-item.medium div.error
{
	width:75%;
}

.form .form-item.small .error, 
.form .form-item.small label.error, 
.form .form-item.small span.error, 
.form .form-item.small div.error
{
	width:55%;
}

.form .form-item .error, 
.form .form-item label.error, 
.form .form-item span.error, 
.form .form-item div.error
{
	width:100%;
	font-size:11px;
	display:block;
	width:auto;
	float:none;
	margin:-4px 0 0 0;
	padding:10px 8px 6px 8px;
	cursor:default;
	background:#c83139;
	color:#ffffff;
	
	/* CSS 3 */
	
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	
	-moz-border-radius:0 0 4px 4px;
	-webkit-border-radius:0 0 4px 4px;
	-o-border-radius:0 0 4px 4px;
	-khtml-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
}

.form .form-item .error.plain, 
.form .form-item label.error.plain, 
.form .form-item span.error.plain, 
.form .form-item div.error.plain
{
	background:none;
	color:#c83139;
	margin:0;
	display:inline-block;
	padding:10px 0;
}

/* Color Picker */

.colorpicker
{
	background-image:url(../../images/core/cpicker.png);
	background-repeat:no-repeat;
	background-position:right center;
	
	width:150px !important;
	padding-right:32px !important;
}

/* Dual List Box */

div.dualbox
{
	position:relative;
}

div.dualbox .countLabel
{
	margin-top:4px;
	display:block;
}

div.dualbox .dualbox-col1, 
div.dualbox .dualbox-col2,  
div.dualbox .dualbox-col3
{
	width:40%;
	float:left;
}

div.dualbox .dualbox-col2
{
	width:20%;
	text-align:center;
	position:relative;
	margin-top:150px;
}

div.dualbox .dualbox-col2 button
{
	width:32px;
	height:32px;
}

div.dualbox .dualbox-filter
{
	margin-bottom:10px;
}

div.dualbox .dualbox-filter label
{
	display:block;
}

div.dualbox .dualbox-filter .textinput
{
	float:left;
	margin-right:-32px;
	padding-right:36px;
}

div.dualbox .dualbox-filter button
{
	float:left;
	margin:0;
	width:32px;
	
	/* CSS 3 */
	
	-webkit-border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	-o-border-radius:0 3px 3px 0;
	-khtml-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0;
}

div.dualbox button
{
	outline:none;
	font-size:11px;
	margin:2px;
	height:30px;
	text-align:center;
	line-height:16px;
	cursor:pointer;
	
	background-color:#e0e0e0;
	color:#666666;
	border:1px solid #ababab;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	
	/* CSS 3 */
	
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
	
	-webkit-box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.3);
	-moz-box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.3);
	-o-box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.3);
	-khtml-box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.3);
	box-shadow:inset 0px 1px 0px rgba(255, 255, 255, 0.3);
}

div.dualbox button:active
{
	-webkit-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 0px 4px rgba(0, 0, 0, 0.1) !important;
	-moz-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 0px 4px rgba(0, 0, 0, 0.1) !important;
	-o-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 0px 4px rgba(0, 0, 0, 0.1) !important;
	-khtml-box-shadow:0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 0px 4px rgba(0, 0, 0, 0.1) !important;
	box-shadow:0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 0px 4px rgba(0, 0, 0, 0.1) !important;
}


table.form td, table.form td textarea,table.form td select, table.form td input {font-family: arial; }
table.table-list td, table.table-list td textarea,table.table-list td select, table.table-list td input {padding:3px;  }


