/*
C:\xampp\htdocs\slujano\gba\public\theme\gba\css\icons\16
C:\xampp\htdocs\slujano\gba\public\images\icons*/
.ic-16{background-repeat:no-repeat;}
.ic-16.ic-accept{background-image:url(../../../../images/icons/accept.png);}
.ic-16.ic-add{background-image:url(../../../../images/icons/add.png);}
.ic-16.ic-alarm{background-image:url(../../../../images/icons/alarm.png);}
.ic-16.ic-anchor{background-image:url(../../../../images/icons/anchor.png);}
.ic-16.ic-application{background-image:url(../../../../images/icons/application.png);}
.ic-16.ic-application2{background-image:url(../../../../images/icons/application2.png);}
.ic-16.ic-application-add{background-image:url(../../../../images/icons/application_add.png);}
.ic-16.ic-application-cascade{background-image:url(../../../../images/icons/application_cascade.png);}
.ic-16.ic-application-delete{background-image:url(../../../../images/icons/application_delete.png);}
.ic-16.ic-application-double{background-image:url(../../../../images/icons/application_double.png);}
.ic-16.ic-application-edit{background-image:url(../../../../images/icons/application_edit.png);}
.ic-16.ic-application-error{background-image:url(../../../../images/icons/application_error.png);}
.ic-16.ic-application-form{background-image:url(../../../../images/icons/application_form.png);}
.ic-16.ic-application-get{background-image:url(../../../../images/icons/application_get.png);}
.ic-16.ic-application-go{background-image:url(../../../../images/icons/application_go.png);}
.ic-16.ic-application-home{background-image:url(../../../../images/icons/application_home.png);}
.ic-16.ic-application-key{background-image:url(../../../../images/icons/application_key.png);}
.ic-16.ic-application-lightning{background-image:url(../../../../images/icons/application_lightning.png);}
.ic-16.ic-application-link{background-image:url(../../../../images/icons/application_link.png);}
.ic-16.ic-application-osx{background-image:url(../../../../images/icons/application_osx.png);}
.ic-16.ic-application-osx-terminal{background-image:url(../../../../images/icons/application_osx_terminal.png);}
.ic-16.ic-application-put{background-image:url(../../../../images/icons/application_put.png);}
.ic-16.ic-application-side-boxes{background-image:url(../../../../images/icons/application_side_boxes.png);}
.ic-16.ic-application-side-contract{background-image:url(../../../../images/icons/application_side_contract.png);}
.ic-16.ic-application-side-expand{background-image:url(../../../../images/icons/application_side_expand.png);}
.ic-16.ic-application-side-list{background-image:url(../../../../images/icons/application_side_list.png);}
.ic-16.ic-application-side-tree{background-image:url(../../../../images/icons/application_side_tree.png);}
.ic-16.ic-application-split{background-image:url(../../../../images/icons/application_split.png);}
.ic-16.ic-application-tile-horizontal{background-image:url(../../../../images/icons/application_tile_horizontal.png);}
.ic-16.ic-application-tile-vertical{background-image:url(../../../../images/icons/application_tile_vertical.png);}
.ic-16.ic-application-view-columns{background-image:url(../../../../images/icons/application_view_columns.png);}
.ic-16.ic-application-view-detail{background-image:url(../../../../images/icons/application_view_detail.png);}
.ic-16.ic-application-view-gallery{background-image:url(../../../../images/icons/application_view_gallery.png);}
.ic-16.ic-application-view-icons{background-image:url(../../../../images/icons/application_view_icons.png);}
.ic-16.ic-application-view-list{background-image:url(../../../../images/icons/application_view_list.png);}
.ic-16.ic-application-view-tile{background-image:url(../../../../images/icons/application_view_tile.png);}
.ic-16.ic-application-view-xp{background-image:url(../../../../images/icons/application_view_xp.png);}
.ic-16.ic-application-view-xp-terminal{background-image:url(../../../../images/icons/application_view_xp_terminal.png);}
.ic-16.ic-arrow-branch{background-image:url(../../../../images/icons/arrow_branch.png);}
.ic-16.ic-arrow-divide{background-image:url(../../../../images/icons/arrow_divide.png);}
.ic-16.ic-arrow-in{background-image:url(../../../../images/icons/arrow_in.png);}
.ic-16.ic-arrow-inout{background-image:url(../../../../images/icons/arrow_inout.png);}
.ic-16.ic-arrow-join{background-image:url(../../../../images/icons/arrow_join.png);}
.ic-16.ic-arrow-left{background-image:url(../../../../images/icons/arrow_left.png);}
.ic-16.ic-arrow-merge{background-image:url(../../../../images/icons/arrow_merge.png);}
.ic-16.ic-arrow-out{background-image:url(../../../../images/icons/arrow_out.png);}
.ic-16.ic-arrow-redo{background-image:url(../../../../images/icons/arrow_redo.png);}
.ic-16.ic-arrow-refresh{background-image:url(../../../../images/icons/arrow_refresh.png);}
.ic-16.ic-arrow-right{background-image:url(../../../../images/icons/arrow_right.png);}
.ic-16.ic-arrow-undo{background-image:url(../../../../images/icons/arrow_undo.png);}
.ic-16.ic-asterisk-orange{background-image:url(../../../../images/icons/asterisk_orange.png);}
.ic-16.ic-attach{background-image:url(../../../../images/icons/attach.png);}
.ic-16.ic-attach-2{background-image:url(../../../../images/icons/attach_2.png);}
.ic-16.ic-award-star-gold{background-image:url(../../../../images/icons/award_star_gold.png);}
.ic-16.ic-bandaid{background-image:url(../../../../images/icons/bandaid.png);}
.ic-16.ic-basket{background-image:url(../../../../images/icons/basket.png);}
.ic-16.ic-bell{background-image:url(../../../../images/icons/bell.png);}
.ic-16.ic-bin-closed{background-image:url(../../../../images/icons/bin_closed.png);}
.ic-16.ic-blog{background-image:url(../../../../images/icons/blog.png);}
.ic-16.ic-blueprint{background-image:url(../../../../images/icons/blueprint.png);}
.ic-16.ic-blueprint-horizontal{background-image:url(../../../../images/icons/blueprint_horizontal.png);}
.ic-16.ic-bluetooth{background-image:url(../../../../images/icons/bluetooth.png);}
.ic-16.ic-bomb{background-image:url(../../../../images/icons/bomb.png);}
.ic-16.ic-book{background-image:url(../../../../images/icons/book.png);}
.ic-16.ic-bookmark{background-image:url(../../../../images/icons/bookmark.png);}
.ic-16.ic-bookmark-book{background-image:url(../../../../images/icons/bookmark_book.png);}
.ic-16.ic-bookmark-book-open{background-image:url(../../../../images/icons/bookmark_book_open.png);}
.ic-16.ic-bookmark-document{background-image:url(../../../../images/icons/bookmark_document.png);}
.ic-16.ic-bookmark-folder{background-image:url(../../../../images/icons/bookmark_folder.png);}
.ic-16.ic-books{background-image:url(../../../../images/icons/books.png);}
.ic-16.ic-book-addresses{background-image:url(../../../../images/icons/book_addresses.png);}
.ic-16.ic-book-next{background-image:url(../../../../images/icons/book_next.png);}
.ic-16.ic-book-open{background-image:url(../../../../images/icons/book_open.png);}
.ic-16.ic-book-previous{background-image:url(../../../../images/icons/book_previous.png);}
.ic-16.ic-box{background-image:url(../../../../images/icons/box.png);}
.ic-16.ic-brick{background-image:url(../../../../images/icons/brick.png);}
.ic-16.ic-bricks{background-image:url(../../../../images/icons/bricks.png);}
.ic-16.ic-briefcase{background-image:url(../../../../images/icons/briefcase.png);}
.ic-16.ic-bug{background-image:url(../../../../images/icons/bug.png);}
.ic-16.ic-buildings{background-image:url(../../../../images/icons/buildings.png);}
.ic-16.ic-bullet-add-1{background-image:url(../../../../images/icons/bullet_add_1.png);}
.ic-16.ic-bullet-add-2{background-image:url(../../../../images/icons/bullet_add_2.png);}
.ic-16.ic-bullet-key{background-image:url(../../../../images/icons/bullet_key.png);}
.ic-16.ic-cake{background-image:url(../../../../images/icons/cake.png);}
.ic-16.ic-calculator{background-image:url(../../../../images/icons/calculator.png);}
.ic-16.ic-calendar{background-image:url(../../../../images/icons/calendar.png);}
.ic-16.ic-calendar-add{background-image:url(../../../../images/icons/calendar_add.png);}
.ic-16.ic-camera{background-image:url(../../../../images/icons/camera.png);}
.ic-16.ic-cancel{background-image:url(../../../../images/icons/cancel.png);}
.ic-16.ic-car{background-image:url(../../../../images/icons/car.png);}
.ic-16.ic-cart{background-image:url(../../../../images/icons/cart.png);}
.ic-16.ic-cd{background-image:url(../../../../images/icons/cd.png);}
.ic-16.ic-change-password{background-image:url(../../../../images/icons/change_password.png);}
.ic-16.ic-chart-bar{background-image:url(../../../../images/icons/chart_bar.png);}
.ic-16.ic-chart-curve{background-image:url(../../../../images/icons/chart_curve.png);}
.ic-16.ic-chart-line{background-image:url(../../../../images/icons/chart_line.png);}
.ic-16.ic-chart-organisation{background-image:url(../../../../images/icons/chart_organisation.png);}
.ic-16.ic-chart-pie{background-image:url(../../../../images/icons/chart_pie.png);}
.ic-16.ic-clipboard-paste-image{background-image:url(../../../../images/icons/clipboard_paste_image.png);}
.ic-16.ic-clipboard-sign{background-image:url(../../../../images/icons/clipboard_sign.png);}
.ic-16.ic-clipboard-text{background-image:url(../../../../images/icons/clipboard_text.png);}
.ic-16.ic-clock{background-image:url(../../../../images/icons/clock.png);}
.ic-16.ic-cog{background-image:url(../../../../images/icons/cog.png);}
.ic-16.ic-coins{background-image:url(../../../../images/icons/coins.png);}
.ic-16.ic-color-swatch-1{background-image:url(../../../../images/icons/color_swatch_1.png);}
.ic-16.ic-color-swatch-2{background-image:url(../../../../images/icons/color_swatch_2.png);}
.ic-16.ic-comment{background-image:url(../../../../images/icons/comment.png);}
.ic-16.ic-compass{background-image:url(../../../../images/icons/compass.png);}
.ic-16.ic-compress{background-image:url(../../../../images/icons/compress.png);}
.ic-16.ic-computer{background-image:url(../../../../images/icons/computer.png);}
.ic-16.ic-connect{background-image:url(../../../../images/icons/connect.png);}
.ic-16.ic-contrast{background-image:url(../../../../images/icons/contrast.png);}
.ic-16.ic-control-eject{background-image:url(../../../../images/icons/control_eject.png);}
.ic-16.ic-control-end{background-image:url(../../../../images/icons/control_end.png);}
.ic-16.ic-control-equalizer{background-image:url(../../../../images/icons/control_equalizer.png);}
.ic-16.ic-control-fastforward{background-image:url(../../../../images/icons/control_fastforward.png);}
.ic-16.ic-control-pause{background-image:url(../../../../images/icons/control_pause.png);}
.ic-16.ic-control-play{background-image:url(../../../../images/icons/control_play.png);}
.ic-16.ic-control-repeat{background-image:url(../../../../images/icons/control_repeat.png);}
.ic-16.ic-control-rewind{background-image:url(../../../../images/icons/control_rewind.png);}
.ic-16.ic-control-start{background-image:url(../../../../images/icons/control_start.png);}
.ic-16.ic-control-stop{background-image:url(../../../../images/icons/control_stop.png);}
.ic-16.ic-control-wheel{background-image:url(../../../../images/icons/control_wheel.png);}
.ic-16.ic-counter{background-image:url(../../../../images/icons/counter.png);}
.ic-16.ic-counter-count{background-image:url(../../../../images/icons/counter_count.png);}
.ic-16.ic-counter-count-up{background-image:url(../../../../images/icons/counter_count_up.png);}
.ic-16.ic-counter-reset{background-image:url(../../../../images/icons/counter_reset.png);}
.ic-16.ic-counter-stop{background-image:url(../../../../images/icons/counter_stop.png);}
.ic-16.ic-cross{background-image:url(../../../../images/icons/cross.png);}
.ic-16.ic-cross-octagon{background-image:url(../../../../images/icons/cross_octagon.png);}
.ic-16.ic-cross-octagon-fram{background-image:url(../../../../images/icons/cross_octagon_fram.png);}
.ic-16.ic-cross-shield{background-image:url(../../../../images/icons/cross_shield.png);}
.ic-16.ic-cross-shield-2{background-image:url(../../../../images/icons/cross_shield_2.png);}
.ic-16.ic-crown{background-image:url(../../../../images/icons/crown.png);}
.ic-16.ic-crown-bronze{background-image:url(../../../../images/icons/crown_bronze.png);}
.ic-16.ic-crown-silver{background-image:url(../../../../images/icons/crown_silver.png);}
.ic-16.ic-css{background-image:url(../../../../images/icons/css.png);}
.ic-16.ic-cursor{background-image:url(../../../../images/icons/cursor.png);}
.ic-16.ic-cut{background-image:url(../../../../images/icons/cut.png);}
.ic-16.ic-dashboard{background-image:url(../../../../images/icons/dashboard.png);}
.ic-16.ic-data{background-image:url(../../../../images/icons/data.png);}
.ic-16.ic-database{background-image:url(../../../../images/icons/database.png);}
.ic-16.ic-databases{background-image:url(../../../../images/icons/databases.png);}
.ic-16.ic-delete{background-image:url(../../../../images/icons/delete.png);}
.ic-16.ic-deliver{background-image:url(../../../../images/icons/deliver.png);}
.ic-16.ic-delivery{background-image:url(../../../../images/icons/delivery.png);}
.ic-16.ic-delivery-schedule{background-image:url(../../../../images/icons/delivery_schedule.png);}
.ic-16.ic-desktop{background-image:url(../../../../images/icons/desktop.png);}
.ic-16.ic-desktop-empty{background-image:url(../../../../images/icons/desktop_empty.png);}
.ic-16.ic-direction{background-image:url(../../../../images/icons/direction.png);}
.ic-16.ic-disconnect{background-image:url(../../../../images/icons/disconnect.png);}
.ic-16.ic-disk{background-image:url(../../../../images/icons/disk.png);}
.ic-16.ic-doc-access{background-image:url(../../../../images/icons/doc_access.png);}
.ic-16.ic-doc-break{background-image:url(../../../../images/icons/doc_break.png);}
.ic-16.ic-doc-convert{background-image:url(../../../../images/icons/doc_convert.png);}
.ic-16.ic-doc-excel-csv{background-image:url(../../../../images/icons/doc_excel_csv.png);}
.ic-16.ic-doc-excel-table{background-image:url(../../../../images/icons/doc_excel_table.png);}
.ic-16.ic-doc-film{background-image:url(../../../../images/icons/doc_film.png);}
.ic-16.ic-doc-illustrator{background-image:url(../../../../images/icons/doc_illustrator.png);}
.ic-16.ic-doc-music{background-image:url(../../../../images/icons/doc_music.png);}
.ic-16.ic-doc-music-playlist{background-image:url(../../../../images/icons/doc_music_playlist.png);}
.ic-16.ic-doc-offlice{background-image:url(../../../../images/icons/doc_offlice.png);}
.ic-16.ic-doc-page{background-image:url(../../../../images/icons/doc_page.png);}
.ic-16.ic-doc-page-previous{background-image:url(../../../../images/icons/doc_page_previous.png);}
.ic-16.ic-doc-pdf{background-image:url(../../../../images/icons/doc_pdf.png);}
.ic-16.ic-doc-photoshop{background-image:url(../../../../images/icons/doc_photoshop.png);}
.ic-16.ic-doc-resize{background-image:url(../../../../images/icons/doc_resize.png);}
.ic-16.ic-doc-resize-actual{background-image:url(../../../../images/icons/doc_resize_actual.png);}
.ic-16.ic-doc-shred{background-image:url(../../../../images/icons/doc_shred.png);}
.ic-16.ic-doc-stand{background-image:url(../../../../images/icons/doc_stand.png);}
.ic-16.ic-doc-table{background-image:url(../../../../images/icons/doc_table.png);}
.ic-16.ic-doc-tag{background-image:url(../../../../images/icons/doc_tag.png);}
.ic-16.ic-doc-text-image{background-image:url(../../../../images/icons/doc_text_image.png);}
.ic-16.ic-door{background-image:url(../../../../images/icons/door.png);}
.ic-16.ic-door-in{background-image:url(../../../../images/icons/door_in.png);}
.ic-16.ic-drawer{background-image:url(../../../../images/icons/drawer.png);}
.ic-16.ic-drink{background-image:url(../../../../images/icons/drink.png);}
.ic-16.ic-drink-empty{background-image:url(../../../../images/icons/drink_empty.png);}
.ic-16.ic-drive{background-image:url(../../../../images/icons/drive.png);}
.ic-16.ic-drive-burn{background-image:url(../../../../images/icons/drive_burn.png);}
.ic-16.ic-drive-cd{background-image:url(../../../../images/icons/drive_cd.png);}
.ic-16.ic-drive-cd-empty{background-image:url(../../../../images/icons/drive_cd_empty.png);}
.ic-16.ic-drive-delete{background-image:url(../../../../images/icons/drive_delete.png);}
.ic-16.ic-drive-disk{background-image:url(../../../../images/icons/drive_disk.png);}
.ic-16.ic-drive-error{background-image:url(../../../../images/icons/drive_error.png);}
.ic-16.ic-drive-go{background-image:url(../../../../images/icons/drive_go.png);}
.ic-16.ic-drive-link{background-image:url(../../../../images/icons/drive_link.png);}
.ic-16.ic-drive-network{background-image:url(../../../../images/icons/drive_network.png);}
.ic-16.ic-drive-rename{background-image:url(../../../../images/icons/drive_rename.png);}
.ic-16.ic-dvd{background-image:url(../../../../images/icons/dvd.png);}
.ic-16.ic-edit{background-image:url(../../../../images/icons/edit.png);}
.ic-16.ic-email{background-image:url(../../../../images/icons/email.png);}
.ic-16.ic-email-open{background-image:url(../../../../images/icons/email_open.png);}
.ic-16.ic-email-open-image{background-image:url(../../../../images/icons/email_open_image.png);}
.ic-16.ic-emoticon-evilgrin{background-image:url(../../../../images/icons/emoticon_evilgrin.png);}
.ic-16.ic-emoticon-grin{background-image:url(../../../../images/icons/emoticon_grin.png);}
.ic-16.ic-emoticon-happy{background-image:url(../../../../images/icons/emoticon_happy.png);}
.ic-16.ic-emoticon-smile{background-image:url(../../../../images/icons/emoticon_smile.png);}
.ic-16.ic-emoticon-surprised{background-image:url(../../../../images/icons/emoticon_surprised.png);}
.ic-16.ic-emoticon-tongue{background-image:url(../../../../images/icons/emoticon_tongue.png);}
.ic-16.ic-emoticon-unhappy{background-image:url(../../../../images/icons/emoticon_unhappy.png);}
.ic-16.ic-emoticon-waii{background-image:url(../../../../images/icons/emoticon_waii.png);}
.ic-16.ic-emoticon-wink{background-image:url(../../../../images/icons/emoticon_wink.png);}
.ic-16.ic-envelope{background-image:url(../../../../images/icons/envelope.png);}
.ic-16.ic-envelope-2{background-image:url(../../../../images/icons/envelope_2.png);}
.ic-16.ic-error{background-image:url(../../../../images/icons/error.png);}
.ic-16.ic-exclamation{background-image:url(../../../../images/icons/exclamation.png);}
.ic-16.ic-exclamation-octagon-fram{background-image:url(../../../../images/icons/exclamation_octagon_fram.png);}
.ic-16.ic-eye{background-image:url(../../../../images/icons/eye.png);}
.ic-16.ic-feed{background-image:url(../../../../images/icons/feed.png);}
.ic-16.ic-feed-ballon{background-image:url(../../../../images/icons/feed_ballon.png);}
.ic-16.ic-feed-document{background-image:url(../../../../images/icons/feed_document.png);}
.ic-16.ic-female{background-image:url(../../../../images/icons/female.png);}
.ic-16.ic-film{background-image:url(../../../../images/icons/film.png);}
.ic-16.ic-films{background-image:url(../../../../images/icons/films.png);}
.ic-16.ic-find{background-image:url(../../../../images/icons/find.png);}
.ic-16.ic-flag-blue{background-image:url(../../../../images/icons/flag_blue.png);}
.ic-16.ic-folder{background-image:url(../../../../images/icons/folder.png);}
.ic-16.ic-font{background-image:url(../../../../images/icons/font.png);}
.ic-16.ic-funnel{background-image:url(../../../../images/icons/funnel.png);}
.ic-16.ic-grid{background-image:url(../../../../images/icons/grid.png);}
.ic-16.ic-grid-dot{background-image:url(../../../../images/icons/grid_dot.png);}
.ic-16.ic-group{background-image:url(../../../../images/icons/group.png);}
.ic-16.ic-hammer{background-image:url(../../../../images/icons/hammer.png);}
.ic-16.ic-hammer-screwdriver{background-image:url(../../../../images/icons/hammer_screwdriver.png);}
.ic-16.ic-hand{background-image:url(../../../../images/icons/hand.png);}
.ic-16.ic-hand-point{background-image:url(../../../../images/icons/hand_point.png);}
.ic-16.ic-heart{background-image:url(../../../../images/icons/heart.png);}
.ic-16.ic-heart-break{background-image:url(../../../../images/icons/heart_break.png);}
.ic-16.ic-heart-empty{background-image:url(../../../../images/icons/heart_empty.png);}
.ic-16.ic-heart-half{background-image:url(../../../../images/icons/heart_half.png);}
.ic-16.ic-heart-small{background-image:url(../../../../images/icons/heart_small.png);}
.ic-16.ic-help{background-image:url(../../../../images/icons/help.png);}
.ic-16.ic-highlighter{background-image:url(../../../../images/icons/highlighter.png);}
.ic-16.ic-house{background-image:url(../../../../images/icons/house.png);}
.ic-16.ic-html{background-image:url(../../../../images/icons/html.png);}
.ic-16.ic-images{background-image:url(../../../../images/icons/images.png);}
.ic-16.ic-image-1{background-image:url(../../../../images/icons/image_1.png);}
.ic-16.ic-image-2{background-image:url(../../../../images/icons/image_2.png);}
.ic-16.ic-inbox{background-image:url(../../../../images/icons/inbox.png);}
.ic-16.ic-invoice{background-image:url(../../../../images/icons/invoice.png);}
.ic-16.ic-ipod{background-image:url(../../../../images/icons/ipod.png);}
.ic-16.ic-ipod-cast{background-image:url(../../../../images/icons/ipod_cast.png);}
.ic-16.ic-joystick{background-image:url(../../../../images/icons/joystick.png);}
.ic-16.ic-key{background-image:url(../../../../images/icons/key.png);}
.ic-16.ic-keyboard{background-image:url(../../../../images/icons/keyboard.png);}
.ic-16.ic-layers{background-image:url(../../../../images/icons/layers.png);}
.ic-16.ic-layer-treansparent{background-image:url(../../../../images/icons/layer_treansparent.png);}
.ic-16.ic-layout{background-image:url(../../../../images/icons/layout.png);}
.ic-16.ic-layout-header-footer-3{background-image:url(../../../../images/icons/layout_header_footer_3.png);}
.ic-16.ic-layout-header-footer-3-mix{background-image:url(../../../../images/icons/layout_header_footer_3_mix.png);}
.ic-16.ic-layout-join{background-image:url(../../../../images/icons/layout_join.png);}
.ic-16.ic-layout-join-vertical{background-image:url(../../../../images/icons/layout_join_vertical.png);}
.ic-16.ic-layout-select{background-image:url(../../../../images/icons/layout_select.png);}
.ic-16.ic-layout-select-content{background-image:url(../../../../images/icons/layout_select_content.png);}
.ic-16.ic-layout-select-footer{background-image:url(../../../../images/icons/layout_select_footer.png);}
.ic-16.ic-layout-select-sidebar{background-image:url(../../../../images/icons/layout_select_sidebar.png);}
.ic-16.ic-layout-split{background-image:url(../../../../images/icons/layout_split.png);}
.ic-16.ic-layout-split-vertical{background-image:url(../../../../images/icons/layout_split_vertical.png);}
.ic-16.ic-lifebuoy{background-image:url(../../../../images/icons/lifebuoy.png);}
.ic-16.ic-lightbulb{background-image:url(../../../../images/icons/lightbulb.png);}
.ic-16.ic-lightbulb-off{background-image:url(../../../../images/icons/lightbulb_off.png);}
.ic-16.ic-lightning{background-image:url(../../../../images/icons/lightning.png);}
.ic-16.ic-link{background-image:url(../../../../images/icons/link.png);}
.ic-16.ic-link-break{background-image:url(../../../../images/icons/link_break.png);}
.ic-16.ic-lock{background-image:url(../../../../images/icons/lock.png);}
.ic-16.ic-lock-unlock{background-image:url(../../../../images/icons/lock_unlock.png);}
.ic-16.ic-magnet{background-image:url(../../../../images/icons/magnet.png);}
.ic-16.ic-magnifier{background-image:url(../../../../images/icons/magnifier.png);}
.ic-16.ic-magnifier-zoom-in{background-image:url(../../../../images/icons/magnifier_zoom_in.png);}
.ic-16.ic-male{background-image:url(../../../../images/icons/male.png);}
.ic-16.ic-map{background-image:url(../../../../images/icons/map.png);}
.ic-16.ic-marker{background-image:url(../../../../images/icons/marker.png);}
.ic-16.ic-medal-bronze-1{background-image:url(../../../../images/icons/medal_bronze_1.png);}
.ic-16.ic-medal-gold-1{background-image:url(../../../../images/icons/medal_gold_1.png);}
.ic-16.ic-media-player-small-blue{background-image:url(../../../../images/icons/media_player_small_blue.png);}
.ic-16.ic-microphone{background-image:url(../../../../images/icons/microphone.png);}
.ic-16.ic-mobile-phone{background-image:url(../../../../images/icons/mobile_phone.png);}
.ic-16.ic-money{background-image:url(../../../../images/icons/money.png);}
.ic-16.ic-money-dollar{background-image:url(../../../../images/icons/money_dollar.png);}
.ic-16.ic-money-euro{background-image:url(../../../../images/icons/money_euro.png);}
.ic-16.ic-money-pound{background-image:url(../../../../images/icons/money_pound.png);}
.ic-16.ic-money-yen{background-image:url(../../../../images/icons/money_yen.png);}
.ic-16.ic-monitor{background-image:url(../../../../images/icons/monitor.png);}
.ic-16.ic-mouse{background-image:url(../../../../images/icons/mouse.png);}
.ic-16.ic-music{background-image:url(../../../../images/icons/music.png);}
.ic-16.ic-music-beam{background-image:url(../../../../images/icons/music_beam.png);}
.ic-16.ic-neutral{background-image:url(../../../../images/icons/neutral.png);}
.ic-16.ic-new{background-image:url(../../../../images/icons/new.png);}
.ic-16.ic-newspaper{background-image:url(../../../../images/icons/newspaper.png);}
.ic-16.ic-note{background-image:url(../../../../images/icons/note.png);}
.ic-16.ic-nuclear{background-image:url(../../../../images/icons/nuclear.png);}
.ic-16.ic-package{background-image:url(../../../../images/icons/package.png);}
.ic-16.ic-page{background-image:url(../../../../images/icons/page.png);}
.ic-16.ic-page-2{background-image:url(../../../../images/icons/page_2.png);}
.ic-16.ic-page-2-copy{background-image:url(../../../../images/icons/page_2_copy.png);}
.ic-16.ic-page-code{background-image:url(../../../../images/icons/page_code.png);}
.ic-16.ic-page-copy{background-image:url(../../../../images/icons/page_copy.png);}
.ic-16.ic-page-excel{background-image:url(../../../../images/icons/page_excel.png);}
.ic-16.ic-page-lightning{background-image:url(../../../../images/icons/page_lightning.png);}
.ic-16.ic-page-paste{background-image:url(../../../../images/icons/page_paste.png);}
.ic-16.ic-page-red{background-image:url(../../../../images/icons/page_red.png);}
.ic-16.ic-page-refresh{background-image:url(../../../../images/icons/page_refresh.png);}
.ic-16.ic-page-save{background-image:url(../../../../images/icons/page_save.png);}
.ic-16.ic-page-white-cplusplus{background-image:url(../../../../images/icons/page_white_cplusplus.png);}
.ic-16.ic-page-white-csharp{background-image:url(../../../../images/icons/page_white_csharp.png);}
.ic-16.ic-page-white-cup{background-image:url(../../../../images/icons/page_white_cup.png);}
.ic-16.ic-page-white-database{background-image:url(../../../../images/icons/page_white_database.png);}
.ic-16.ic-page-white-delete{background-image:url(../../../../images/icons/page_white_delete.png);}
.ic-16.ic-page-white-dvd{background-image:url(../../../../images/icons/page_white_dvd.png);}
.ic-16.ic-page-white-edit{background-image:url(../../../../images/icons/page_white_edit.png);}
.ic-16.ic-page-white-error{background-image:url(../../../../images/icons/page_white_error.png);}
.ic-16.ic-page-white-excel{background-image:url(../../../../images/icons/page_white_excel.png);}
.ic-16.ic-page-white-find{background-image:url(../../../../images/icons/page_white_find.png);}
.ic-16.ic-page-white-flash{background-image:url(../../../../images/icons/page_white_flash.png);}
.ic-16.ic-page-white-freehand{background-image:url(../../../../images/icons/page_white_freehand.png);}
.ic-16.ic-page-white-gear{background-image:url(../../../../images/icons/page_white_gear.png);}
.ic-16.ic-page-white-get{background-image:url(../../../../images/icons/page_white_get.png);}
.ic-16.ic-page-white-paintbrush{background-image:url(../../../../images/icons/page_white_paintbrush.png);}
.ic-16.ic-page-white-paste{background-image:url(../../../../images/icons/page_white_paste.png);}
.ic-16.ic-page-white-php{background-image:url(../../../../images/icons/page_white_php.png);}
.ic-16.ic-page-white-picture{background-image:url(../../../../images/icons/page_white_picture.png);}
.ic-16.ic-page-white-powerpoint{background-image:url(../../../../images/icons/page_white_powerpoint.png);}
.ic-16.ic-page-white-put{background-image:url(../../../../images/icons/page_white_put.png);}
.ic-16.ic-page-white-ruby{background-image:url(../../../../images/icons/page_white_ruby.png);}
.ic-16.ic-page-white-stack{background-image:url(../../../../images/icons/page_white_stack.png);}
.ic-16.ic-page-white-star{background-image:url(../../../../images/icons/page_white_star.png);}
.ic-16.ic-page-white-swoosh{background-image:url(../../../../images/icons/page_white_swoosh.png);}
.ic-16.ic-page-white-text{background-image:url(../../../../images/icons/page_white_text.png);}
.ic-16.ic-page-white-text-width{background-image:url(../../../../images/icons/page_white_text_width.png);}
.ic-16.ic-page-white-tux{background-image:url(../../../../images/icons/page_white_tux.png);}
.ic-16.ic-page-white-vector{background-image:url(../../../../images/icons/page_white_vector.png);}
.ic-16.ic-page-white-visualstudio{background-image:url(../../../../images/icons/page_white_visualstudio.png);}
.ic-16.ic-page-white-width{background-image:url(../../../../images/icons/page_white_width.png);}
.ic-16.ic-page-white-word{background-image:url(../../../../images/icons/page_white_word.png);}
.ic-16.ic-page-white-world{background-image:url(../../../../images/icons/page_white_world.png);}
.ic-16.ic-page-white-wrench{background-image:url(../../../../images/icons/page_white_wrench.png);}
.ic-16.ic-page-white-zip{background-image:url(../../../../images/icons/page_white_zip.png);}
.ic-16.ic-paintbrush{background-image:url(../../../../images/icons/paintbrush.png);}
.ic-16.ic-paintcan{background-image:url(../../../../images/icons/paintcan.png);}
.ic-16.ic-palette{background-image:url(../../../../images/icons/palette.png);}
.ic-16.ic-paper-bag{background-image:url(../../../../images/icons/paper_bag.png);}
.ic-16.ic-paste-plain{background-image:url(../../../../images/icons/paste_plain.png);}
.ic-16.ic-paste-word{background-image:url(../../../../images/icons/paste_word.png);}
.ic-16.ic-pencil{background-image:url(../../../../images/icons/pencil.png);}
.ic-16.ic-photo{background-image:url(../../../../images/icons/photo.png);}
.ic-16.ic-photos{background-image:url(../../../../images/icons/photos.png);}
.ic-16.ic-photo-album{background-image:url(../../../../images/icons/photo_album.png);}
.ic-16.ic-piano{background-image:url(../../../../images/icons/piano.png);}
.ic-16.ic-picture{background-image:url(../../../../images/icons/picture.png);}
.ic-16.ic-pilcrow{background-image:url(../../../../images/icons/pilcrow.png);}
.ic-16.ic-pill{background-image:url(../../../../images/icons/pill.png);}
.ic-16.ic-pin{background-image:url(../../../../images/icons/pin.png);}
.ic-16.ic-pipette{background-image:url(../../../../images/icons/pipette.png);}
.ic-16.ic-plaing-card{background-image:url(../../../../images/icons/plaing_card.png);}
.ic-16.ic-plug{background-image:url(../../../../images/icons/plug.png);}
.ic-16.ic-plugin{background-image:url(../../../../images/icons/plugin.png);}
.ic-16.ic-printer{background-image:url(../../../../images/icons/printer.png);}
.ic-16.ic-projection-screen{background-image:url(../../../../images/icons/projection_screen.png);}
.ic-16.ic-projection-screen-present{background-image:url(../../../../images/icons/projection_screen_present.png);}
.ic-16.ic-rainbow{background-image:url(../../../../images/icons/rainbow.png);}
.ic-16.ic-report{background-image:url(../../../../images/icons/report.png);}
.ic-16.ic-rocket{background-image:url(../../../../images/icons/rocket.png);}
.ic-16.ic-rosette{background-image:url(../../../../images/icons/rosette.png);}
.ic-16.ic-rss{background-image:url(../../../../images/icons/rss.png);}
.ic-16.ic-ruby{background-image:url(../../../../images/icons/ruby.png);}
.ic-16.ic-ruler-1{background-image:url(../../../../images/icons/ruler_1.png);}
.ic-16.ic-ruler-2{background-image:url(../../../../images/icons/ruler_2.png);}
.ic-16.ic-ruler-crop{background-image:url(../../../../images/icons/ruler_crop.png);}
.ic-16.ic-ruler-triangle{background-image:url(../../../../images/icons/ruler_triangle.png);}
.ic-16.ic-safe{background-image:url(../../../../images/icons/safe.png);}
.ic-16.ic-script{background-image:url(../../../../images/icons/script.png);}
.ic-16.ic-selection{background-image:url(../../../../images/icons/selection.png);}
.ic-16.ic-selection-select{background-image:url(../../../../images/icons/selection_select.png);}
.ic-16.ic-server{background-image:url(../../../../images/icons/server.png);}
.ic-16.ic-shading{background-image:url(../../../../images/icons/shading.png);}
.ic-16.ic-shape-aling-bottom{background-image:url(../../../../images/icons/shape_aling_bottom.png);}
.ic-16.ic-shape-aling-center{background-image:url(../../../../images/icons/shape_aling_center.png);}
.ic-16.ic-shape-aling-left{background-image:url(../../../../images/icons/shape_aling_left.png);}
.ic-16.ic-shape-aling-middle{background-image:url(../../../../images/icons/shape_aling_middle.png);}
.ic-16.ic-shape-aling-right{background-image:url(../../../../images/icons/shape_aling_right.png);}
.ic-16.ic-shape-aling-top{background-image:url(../../../../images/icons/shape_aling_top.png);}
.ic-16.ic-shape-flip-horizontal{background-image:url(../../../../images/icons/shape_flip_horizontal.png);}
.ic-16.ic-shape-flip-vertical{background-image:url(../../../../images/icons/shape_flip_vertical.png);}
.ic-16.ic-shape-group{background-image:url(../../../../images/icons/shape_group.png);}
.ic-16.ic-shape-handles{background-image:url(../../../../images/icons/shape_handles.png);}
.ic-16.ic-shape-move-back{background-image:url(../../../../images/icons/shape_move_back.png);}
.ic-16.ic-shape-move-backwards{background-image:url(../../../../images/icons/shape_move_backwards.png);}
.ic-16.ic-shape-move-forwards{background-image:url(../../../../images/icons/shape_move_forwards.png);}
.ic-16.ic-shape-move-front{background-image:url(../../../../images/icons/shape_move_front.png);}
.ic-16.ic-shape-square{background-image:url(../../../../images/icons/shape_square.png);}
.ic-16.ic-shield{background-image:url(../../../../images/icons/shield.png);}
.ic-16.ic-sitemap{background-image:url(../../../../images/icons/sitemap.png);}
.ic-16.ic-slide{background-image:url(../../../../images/icons/slide.png);}
.ic-16.ic-slides{background-image:url(../../../../images/icons/slides.png);}
.ic-16.ic-slides-stack{background-image:url(../../../../images/icons/slides_stack.png);}
.ic-16.ic-smiley-confuse{background-image:url(../../../../images/icons/smiley_confuse.png);}
.ic-16.ic-smiley-cool{background-image:url(../../../../images/icons/smiley_cool.png);}
.ic-16.ic-smiley-cry{background-image:url(../../../../images/icons/smiley_cry.png);}
.ic-16.ic-smiley-fat{background-image:url(../../../../images/icons/smiley_fat.png);}
.ic-16.ic-smiley-mad{background-image:url(../../../../images/icons/smiley_mad.png);}
.ic-16.ic-smiley-red{background-image:url(../../../../images/icons/smiley_red.png);}
.ic-16.ic-smiley-roll{background-image:url(../../../../images/icons/smiley_roll.png);}
.ic-16.ic-smiley-slim{background-image:url(../../../../images/icons/smiley_slim.png);}
.ic-16.ic-smiley-yell{background-image:url(../../../../images/icons/smiley_yell.png);}
.ic-16.ic-socket{background-image:url(../../../../images/icons/socket.png);}
.ic-16.ic-sockets{background-image:url(../../../../images/icons/sockets.png);}
.ic-16.ic-sort{background-image:url(../../../../images/icons/sort.png);}
.ic-16.ic-sort-alphabet{background-image:url(../../../../images/icons/sort_alphabet.png);}
.ic-16.ic-sort-date{background-image:url(../../../../images/icons/sort_date.png);}
.ic-16.ic-sort-disable{background-image:url(../../../../images/icons/sort_disable.png);}
.ic-16.ic-sort-number{background-image:url(../../../../images/icons/sort_number.png);}
.ic-16.ic-sort-price{background-image:url(../../../../images/icons/sort_price.png);}
.ic-16.ic-sort-quantity{background-image:url(../../../../images/icons/sort_quantity.png);}
.ic-16.ic-sort-rating{background-image:url(../../../../images/icons/sort_rating.png);}
.ic-16.ic-sound{background-image:url(../../../../images/icons/sound.png);}
.ic-16.ic-sound-note{background-image:url(../../../../images/icons/sound_note.png);}
.ic-16.ic-spellcheck{background-image:url(../../../../images/icons/spellcheck.png);}
.ic-16.ic-sport-8ball{background-image:url(../../../../images/icons/sport_8ball.png);}
.ic-16.ic-sport-basketball{background-image:url(../../../../images/icons/sport_basketball.png);}
.ic-16.ic-sport-football{background-image:url(../../../../images/icons/sport_football.png);}
.ic-16.ic-sport-golf{background-image:url(../../../../images/icons/sport_golf.png);}
.ic-16.ic-sport-raquet{background-image:url(../../../../images/icons/sport_raquet.png);}
.ic-16.ic-sport-shuttlecock{background-image:url(../../../../images/icons/sport_shuttlecock.png);}
.ic-16.ic-sport-soccer{background-image:url(../../../../images/icons/sport_soccer.png);}
.ic-16.ic-sport-tennis{background-image:url(../../../../images/icons/sport_tennis.png);}
.ic-16.ic-stamp{background-image:url(../../../../images/icons/stamp.png);}
.ic-16.ic-star-1{background-image:url(../../../../images/icons/star_1.png);}
.ic-16.ic-star-2{background-image:url(../../../../images/icons/star_2.png);}
.ic-16.ic-status-online{background-image:url(../../../../images/icons/status_online.png);}
.ic-16.ic-stop{background-image:url(../../../../images/icons/stop.png);}
.ic-16.ic-style{background-image:url(../../../../images/icons/style.png);}
.ic-16.ic-sum{background-image:url(../../../../images/icons/sum.png);}
.ic-16.ic-sum-2{background-image:url(../../../../images/icons/sum_2.png);}
.ic-16.ic-switch{background-image:url(../../../../images/icons/switch.png);}
.ic-16.ic-tab{background-image:url(../../../../images/icons/tab.png);}
.ic-16.ic-table{background-image:url(../../../../images/icons/table.png);}
.ic-16.ic-tag{background-image:url(../../../../images/icons/tag.png);}
.ic-16.ic-tag-blue{background-image:url(../../../../images/icons/tag_blue.png);}
.ic-16.ic-target{background-image:url(../../../../images/icons/target.png);}
.ic-16.ic-telephone{background-image:url(../../../../images/icons/telephone.png);}
.ic-16.ic-television{background-image:url(../../../../images/icons/television.png);}
.ic-16.ic-textfield{background-image:url(../../../../images/icons/textfield.png);}
.ic-16.ic-textfield-rename{background-image:url(../../../../images/icons/textfield_rename.png);}
.ic-16.ic-text-align-center{background-image:url(../../../../images/icons/text_align_center.png);}
.ic-16.ic-text-align-justify{background-image:url(../../../../images/icons/text_align_justify.png);}
.ic-16.ic-text-align-left{background-image:url(../../../../images/icons/text_align_left.png);}
.ic-16.ic-text-align-right{background-image:url(../../../../images/icons/text_align_right.png);}
.ic-16.ic-text-allcaps{background-image:url(../../../../images/icons/text_allcaps.png);}
.ic-16.ic-text-bold{background-image:url(../../../../images/icons/text_bold.png);}
.ic-16.ic-text-columns{background-image:url(../../../../images/icons/text_columns.png);}
.ic-16.ic-text-dropcaps{background-image:url(../../../../images/icons/text_dropcaps.png);}
.ic-16.ic-text-heading-1{background-image:url(../../../../images/icons/text_heading_1.png);}
.ic-16.ic-text-horizontalrule{background-image:url(../../../../images/icons/text_horizontalrule.png);}
.ic-16.ic-text-indent{background-image:url(../../../../images/icons/text_indent.png);}
.ic-16.ic-text-indent-remove{background-image:url(../../../../images/icons/text_indent_remove.png);}
.ic-16.ic-text-italic{background-image:url(../../../../images/icons/text_italic.png);}
.ic-16.ic-text-kerning{background-image:url(../../../../images/icons/text_kerning.png);}
.ic-16.ic-text-letterspacing{background-image:url(../../../../images/icons/text_letterspacing.png);}
.ic-16.ic-text-letter-omega{background-image:url(../../../../images/icons/text_letter_omega.png);}
.ic-16.ic-text-linespacing{background-image:url(../../../../images/icons/text_linespacing.png);}
.ic-16.ic-text-list-bullets{background-image:url(../../../../images/icons/text_list_bullets.png);}
.ic-16.ic-text-list-numbers{background-image:url(../../../../images/icons/text_list_numbers.png);}
.ic-16.ic-text-lowercase{background-image:url(../../../../images/icons/text_lowercase.png);}
.ic-16.ic-text-padding-bottom{background-image:url(../../../../images/icons/text_padding_bottom.png);}
.ic-16.ic-text-padding-left{background-image:url(../../../../images/icons/text_padding_left.png);}
.ic-16.ic-text-padding-right{background-image:url(../../../../images/icons/text_padding_right.png);}
.ic-16.ic-text-padding-top{background-image:url(../../../../images/icons/text_padding_top.png);}
.ic-16.ic-text-signature{background-image:url(../../../../images/icons/text_signature.png);}
.ic-16.ic-text-smallcaps{background-image:url(../../../../images/icons/text_smallcaps.png);}
.ic-16.ic-text-strikethrough{background-image:url(../../../../images/icons/text_strikethrough.png);}
.ic-16.ic-text-subscript{background-image:url(../../../../images/icons/text_subscript.png);}
.ic-16.ic-ticket{background-image:url(../../../../images/icons/ticket.png);}
.ic-16.ic-timeline-marker{background-image:url(../../../../images/icons/timeline_marker.png);}
.ic-16.ic-traffic{background-image:url(../../../../images/icons/traffic.png);}
.ic-16.ic-transmit{background-image:url(../../../../images/icons/transmit.png);}
.ic-16.ic-trash{background-image:url(../../../../images/icons/trash.png);}
.ic-16.ic-trophy{background-image:url(../../../../images/icons/trophy.png);}
.ic-16.ic-trophy-bronze{background-image:url(../../../../images/icons/trophy_bronze.png);}
.ic-16.ic-trophy-silver{background-image:url(../../../../images/icons/trophy_silver.png);}
.ic-16.ic-ui-combo-box{background-image:url(../../../../images/icons/ui_combo_box.png);}
.ic-16.ic-ui-saccordion{background-image:url(../../../../images/icons/ui_saccordion.png);}
.ic-16.ic-ui-slider-1{background-image:url(../../../../images/icons/ui_slider_1.png);}
.ic-16.ic-ui-slider-2{background-image:url(../../../../images/icons/ui_slider_2.png);}
.ic-16.ic-ui-tab-bottom{background-image:url(../../../../images/icons/ui_tab_bottom.png);}
.ic-16.ic-ui-tab-content{background-image:url(../../../../images/icons/ui_tab_content.png);}
.ic-16.ic-ui-tab-disable{background-image:url(../../../../images/icons/ui_tab_disable.png);}
.ic-16.ic-ui-tab-side{background-image:url(../../../../images/icons/ui_tab_side.png);}
.ic-16.ic-ui-text-field-hidden{background-image:url(../../../../images/icons/ui_text_field_hidden.png);}
.ic-16.ic-ui-text-field-password{background-image:url(../../../../images/icons/ui_text_field_password.png);}
.ic-16.ic-umbrella{background-image:url(../../../../images/icons/umbrella.png);}
.ic-16.ic-user{background-image:url(../../../../images/icons/user.png);}
.ic-16.ic-user-black-female{background-image:url(../../../../images/icons/user_black_female.png);}
.ic-16.ic-user-business{background-image:url(../../../../images/icons/user_business.png);}
.ic-16.ic-user-business-boss{background-image:url(../../../../images/icons/user_business_boss.png);}
.ic-16.ic-user-female{background-image:url(../../../../images/icons/user_female.png);}
.ic-16.ic-user-silhouette{background-image:url(../../../../images/icons/user_silhouette.png);}
.ic-16.ic-user-thief{background-image:url(../../../../images/icons/user_thief.png);}
.ic-16.ic-user-thief-baldie{background-image:url(../../../../images/icons/user_thief_baldie.png);}
.ic-16.ic-vcard{background-image:url(../../../../images/icons/vcard.png);}
.ic-16.ic-vector{background-image:url(../../../../images/icons/vector.png);}
.ic-16.ic-view{background-image:url(../../../../images/icons/view.png);}
.ic-16.ic-wait{background-image:url(../../../../images/icons/wait.png);}
.ic-16.ic-wall{background-image:url(../../../../images/icons/wall.png);}
.ic-16.ic-wall-break{background-image:url(../../../../images/icons/wall_break.png);}
.ic-16.ic-wall-brick{background-image:url(../../../../images/icons/wall_brick.png);}
.ic-16.ic-wall-disable{background-image:url(../../../../images/icons/wall_disable.png);}
.ic-16.ic-wand{background-image:url(../../../../images/icons/wand.png);}
.ic-16.ic-weather-clouds{background-image:url(../../../../images/icons/weather_clouds.png);}
.ic-16.ic-weather-cloudy{background-image:url(../../../../images/icons/weather_cloudy.png);}
.ic-16.ic-weather-lightning{background-image:url(../../../../images/icons/weather_lightning.png);}
.ic-16.ic-weather-rain{background-image:url(../../../../images/icons/weather_rain.png);}
.ic-16.ic-weather-snow{background-image:url(../../../../images/icons/weather_snow.png);}
.ic-16.ic-weather-sun{background-image:url(../../../../images/icons/weather_sun.png);}
.ic-16.ic-webcam{background-image:url(../../../../images/icons/webcam.png);}
.ic-16.ic-world{background-image:url(../../../../images/icons/world.png);}
.ic-16.ic-zone{background-image:url(../../../../images/icons/zone.png);}
.ic-16.ic-zones{background-image:url(../../../../images/icons/zones.png);}
.ic-16.ic-zone-money{background-image:url(../../../../images/icons/zone_money.png);}



/**OTROS AGREGADOS**/
.ic-16.ic-hourglass{background-image:url(../../../../images/icons/hourglass.png);}
.ic-16.ic-hourglass-add{background-image:url(../../../../images/icons/hourglass_add.png);}